/// font ///
$en: "Josefin Sans", sans-serif;
$serif: "Noto Serif JP", serif;
/// color ///
$white: #ffffff;
$black: #000000;
$primary: #3dae94;
$dark: #167d65;
$light: #66be8f;
$secondary: #fffb00;
$accent: #0c087d;
$body_color: #444;
$body_bg: #fff;
