@use "../../setting/setting" as *;
@use "../../common/common" as *;

.index {
  padding-bottom: 10rem;
  section {
    padding-top: 5rem;
    @include mq(min, md) {
      padding-top: 10rem;
    }
  }
  h3 {
    font-size: 1rem;
    text-align: center;
    color: $dark;
    margin-bottom: 2.6rem;
    &::before {
      content: attr(title);
      display: block;
      font-size: 2rem;
      text-transform: uppercase;
      color: rgba($primary, 1);
    }
    @include mq(min, md) {
      font-size: 1.3rem;
      margin-bottom: 4rem;
      &::before {
        font-size: 3rem;
      }
    }
  }
  h4 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.1rem;
    font-weight: 500;
  }
  br {
    display: none;
    @include mq(min, md) {
      display: block;
    }
  }
  figure:not(.figure-clear) {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    @include mq(min, xl) {
      &.vertical {
        aspect-ratio: 3 / 4.6;
      }
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  // swiper pagination custom (index 共通）
  .swiper-pagination-custom {
    transform: translateX(-50%);
    left: 50% !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    .swiper-pagination-bullet {
      margin: 0 5px;
      width: 8px;
      height: 8px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all 0.3s;
      &-active {
        opacity: 1;
        background: $primary;
        width: 30px;
      }
    }
  }
}
