@font-face {
  font-family: 'SawarabiGothic';
  src: url('../font/SawarabiGothic-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oxanium';
  src: url('../font/Oxanium-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}