@use "../../setting/setting" as *;
@use "../../common/common" as *;

.pr {
  overflow-y: clip;
  @keyframes zoomUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15);
    }
  }
  .prSwiper {
    .swiper-wrapper {
      height: 90vh;
      @include mq(min, md) {
        height: 60vh;
      }
      @include mq(min, lg) {
        height: 100vh;
      }
      position: relative;
    }
    .swiper-slide-active .slide-img,
    .swiper-slide-duplicate-active .slide-img,
    .swiper-slide-prev .slide-img {
      width: 100%;
      height: 100%;
      transform-origin: center;
      animation: zoomUp 10s linear 0s 1 normal both;
    }
    .slide-img {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.05;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .pr-catch {
    position: absolute;
    padding-top: 5%;
    bottom: 0;
    width: 100%;
    z-index: 1;
    .container {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      max-width: 1500px;
      margin: 0 auto;
      @include mq(min, xl) {
        flex-direction: row;
      }
      .catch-img {
        margin: 0;
        padding-right: 1rem;
        padding-left: 1.2rem;
        max-width: 44vh;
        @include mq(min, xl) {
          max-width: 85vh;
          padding-left: 0;
          padding-right: 0;
        }
        .pr-img {
          width: 100%;
          height: auto;
        }
      }
      .catch-text {
        text-shadow: 0 0 10px rgba($black, 0.5);
        white-space: nowrap;
        color: $white;
        text-align: center;
        @include mq(min, xl) {
          text-align: left;
        }
        h2 {
          font-size: 3.3rem;
          font-weight: 700;
        }
        p {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.3;
        }
        @include mq(min, md) {
          h2 {
            font-size: 7rem;
            font-weight: 900;
          }
          p {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

#news {
  .news-thumb {
    position: relative;
    figure {
      aspect-ratio: 16/10;
      overflow: hidden;
      img {
        transition: transform 0.5s ease;
        aspect-ratio: 16/10;
        object-fit: cover;
        object-position: 50% 50%;
        transform: scale(1);
        width: 100%;
      }
    }
    .news-cat {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1rem;
      background: $dark;
      color: $white;
      z-index: 1;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .news-date {
    font-family: $en;
    color: rgba($body_color, 0.5);
  }
  .news-title {
    font-size: 1rem;
    line-height: 1.3;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    @include mq(min, md) {
      font-size: 1.3rem;
    }
  }
  .newsSwiper {
    padding-bottom: 4rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    .swiper-slide {
      a {
        text-decoration: none;
        font-weight: 500;
        color: $body_color;
        &:hover {
          .news-thumb {
            figure {
              img {
                transform: scale(1.3);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
#greeting {
  .layer-l {
    h4 {
      font-size: 1.6rem;
      letter-spacing: 0.5rem;
      font-family: $serif;
      line-height: 1.4;
      font-weight: 500;
      @include mq(min, md) {
        font-size: 2.2rem;
      }
    }
  }
  @include mq(min, xl) {
    .layer-l {
      position: relative;
      max-width: 70%;
      margin: 0 auto;
      // padding-right: 30%;
      // padding-bottom: 10%;
      .layer-text {
        position: relative;
        // right: 0;
        // bottom: -20%;
        z-index: 1;
        width: 100%;
        background-color: white;
        padding: 3rem;
      }
    }
    .layer-r {
      position: relative;
      padding-left: 30%;
      padding-bottom: 10%;
      .layer-text {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        p {
          background-color: $white;
        }
      }
    }
  }
}
#idea {
  .idea-list {
    list-style: none;
    padding: 0;
    h4 {
      font-size: 1.6rem;
      line-height: 1.4;
      margin-bottom: 2rem;
      &::before {
        content: attr(title);
        font-style: italic;
        font-size: 260%;
        font-family: $en;
        line-height: 1;
        display: block;
        text-transform: uppercase;
        color: $primary;
      }
      @include mq(min, lg) {
        font-size: 2.2rem;
      }
    }
    figure {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 3rem;
        height: 3rem;
        left: 0;
        top: 0;
        background: $secondary;
      }
      @include mq(min, xl) {
        aspect-ratio: 1 / 1;
        margin: 0;
      }
      img {
        @include mq(min, xl) {
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }
    }
    & > li {
      margin-top: 4rem;
    }
    .idea-ul {
      list-style: disc;
      li {
        font-size: 1.2rem;
        &::marker {
          color: $primary;
        }
      }
    }
  }
}
#profile {
  .profile-list {
    position: relative;
    &::before {
      content: "";
      left: 9px;
      top: 9px;
      width: 2px;
      background: rgb(200, 200, 200);
      background: linear-gradient(
        to bottom,
        rgb(200, 200, 200) 0%,
        rgb(200, 200, 200) 92%,
        rgba(200, 200, 200, 0) 100%
      );
      height: 100%;
      position: absolute;
      transform-origin: 0 0;
    }
    @include mq(min, xl) {
      margin-left: 3rem;
    }
    dt {
      position: relative;
      font-size: 1.2rem;
      color: rgba($dark, 0.7);
      padding-left: 3rem;
      font-style: oblique;
      font-weight: 500;
      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: none repeat scroll 0% 0% $primary;
        border: 2px solid #fff;
      }
    }
    dd {
      padding-left: 3rem;
      margin-bottom: 1rem;
    }
  }
}
#message {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 4rem;
  @include mq(min, md) {
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-top: 7rem;
  }
  .messageSwiper {
    .swiper-slide {
      opacity: 0.3;
      &.swiper-slide-active {
        opacity: 1;
      }
    }
    .content-wrap {
      background-color: rgba($primary, 0.05);
      padding: 3rem 2rem;
      border-radius: 20px;
    }
    figure {
      margin: 0 auto;
      overflow: visible;
      text-align: center;
      img {
        max-width: 100px;
      }
      figcaption {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: $black;
        @include mq(min, md) {
          font-size: 1.4rem;
        }
      }
    }
    blockquote {
      margin: 0 auto;
      p {
        position: relative;
        padding-top: 3rem;
        font-size: 1rem;
        &::before {
          content: "";
          position: absolute;
          top: 1.3rem;
          left: 50%;
          transform: translateX(-50%);
          width: 30px;
          height: 5px;
          border-radius: 10px;
          background-color: $primary;
        }
        @include mq(min, md) {
          font-size: 1.2rem;
        }
      }
      cite {
        text-align: end;
      }
    }
  }
}

#paper {
  // 3d flipbook custom
  .fb3d-thumbnail-lightbox-mode .book-heading h3,
  .fb3d-thumbnail-mode .book-heading h3 {
    bottom: 0;
  }
}
