@use "../setting/setting" as *;

body {
  font-family: "Noto Sans JP", YuGothic, sans-serif;
  color: $body_color;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.9;
  font-feature-settings: "pkna" 1;
  background-color: $body_bg;
  overflow-x: hidden;
}
.width-max {
  padding: 0 1.25rem;
  margin: 0 calc(50% - 50vw);
  @include mq(min, md) {
    padding: 0;
  }
}
.row {
  // rowのcolを同じ高さにするとき
  &.row-eq-height {
    display: flex;
    flex-wrap: wrap;
    > [class*="col-"],
    [class*="col"] {
      display: flex;
      flex-direction: column;
    }
  }
}
