@use "../setting/setting" as *;
.navbar {
  transition: all 0.3s;
  &.navbar-dark {
    height: 100px;
    .nav-link {
      color: $white;
      &:hover {
        color: $dark;
      }
    }
  }
  &.navbar-light {
    background-color: $primary;
    .navbar-brand {
      h1 {
        color: $white;
      }
    }
    .nav-link {
      color: $white;
      &:hover {
        color: $dark;
      }
    }
  }
  &.is-scroll {
    background-color: $primary;
    height: 70px;
  }
}
.navbar-brand {
  text-align-last: justify;
  display: inline-block;
  max-width: 300px;
  line-height: 1.2;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  .navbar-brand-sub {
    font-size: 1rem;
    display: block;
  }
  h1 {
    margin: inherit;
    padding: inherit;
    font-size: inherit;
  }
}

.navbar-nav {
  .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
  }
  .btn {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
.offcanvas {
  width: 80%;
  &.show {
    .nav-menu {
      li {
        &:not(:last-child) {
          border-bottom: 1px solid $primary;
        }
      }
    }
    .nav-link {
      color: $body_color;
    }
  }
}
.offcanvas-body {
  padding: 0;
}
.offcanvas-header {
  line-height: 1.5;
}
.offcanvas-title {
  color: $primary;
}
