@use "../setting/setting" as *;

.navbar {
  transition: all 0.3s;
  &.navbar-dark {
    height: 100px;
    .nav-link {
      color: $white;
      &:hover {
        color: $dark;
      }
    }
  }
  &.navbar-light {
    background-color: $primary;
    .navbar-brand {
      h1 {
        color: $white;
      }
    }
    .nav-link {
      color: $white;
      &:hover {
        color: $dark;
      }
    }
  }
  &.is-scroll {
    background-color: $primary;
    height: 70px;
    h1 {
      display: inline-block;
    }
  }
}
.navbar-brand {
  display: inline-block;
  max-width: 300px;
  line-height: 1.2;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  .navbar-brand-sub {
    font-size: 1rem;
    display: block;
  }
  h1 {
    margin: inherit;
    padding: inherit;
    font-size: inherit;
    display: none;
    @include mq(min, md) {
      display: inline;
    }
  }
}
.navbar-nav {
  .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
  }
  .btn {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
.offcanvas {
  width: 80%;
  &.show {
    .nav-menu {
      li {
        &:not(:last-child) {
          border-bottom: 1px solid $primary;
        }
      }
    }
    .nav-link {
      color: $body_color;
    }
  }
}
.offcanvas-body {
  padding: 0;
}
.offcanvas-header {
  line-height: 1.5;
}
.offcanvas-title {
  color: $primary;
}
//hamburger
.hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: inherit;
  overflow: visible;
  outline: none;
  padding: 0;
  text-transform: none;
  transition: opacity 0.15s;
  -webkit-appearance: none;
  @include mq(min, xl) {
    display: none;
  }
  &:hover {
    opacity: 0.7;
  }
  &.close {
    color: $primary;
    text-decoration: none;
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $primary;
    }
    .hamburger-inner {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .hamburger-inner::before {
      top: 0;
      opacity: 0;
    }
    .hamburger-inner::after {
      bottom: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .hamburger-label {
      color: $primary;
    }
  }
  .hamburger-box {
    width: 30px;
    height: 24px;
    position: relative;
  }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -6px;
  }
  .hamburger-inner::after {
    bottom: -6px;
  }
  .hamburger-label {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  .hamburger-box,
  .hamburger-label {
    display: inline-block;
    vertical-align: middle;
  }
}
