/// font ///
$en: "Josefin Sans", sans-serif;
/// color ///
$white: #ffffff;
$black: #000000;
$primary: #009250;
$dark: #036136;
$light: #66be8f;
$secondary: #f9bf29;
$accent: #0c087d;
$body_color: #444;
$body_bg: #fff;
